header, main, footer{
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
nav{
  color: #fff;
  background-color: #2C3E50;
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.navbar-fixed{
  position: relative;
  height: 50px;
  z-index: 997;
}

.navbar-fixed nav {
  position: fixed;

}

@media only screen and (min-width: 601px) {
  nav.nav-extended .nav-wrapper {
    min-height: 50px;
  }
  nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 50px;
    line-height: 50px;
  }
  .navbar-fixed {
    height: 50px;
  }
}


/* sidenav */

.sidenav{
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: #fff;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateX(-105%);
          transform: translateX(-105%);
}

.blueblack{
  background-color: #2C3E50;
}
.red{
  background-color: #E74C3C;
}
.white{
  background-color: #ECF0F1;
}
.blue{
  background-color: #3498DB;
}
.blue2{
  background-color: #2980B9;
}
.blueblack-text !important{
  color: #2C3E50;
}
.red-text{
  color: #E74C3C;
}
.white-text{
  color: #ECF0F1;
}
.blue-text{
  color: #3498DB;
}
.bluee-text{
  color: #2980B9;
}
body {
  margin: 0;
  background-color: #ECF0F1;
}
.samping{
  width: 100%;
  height: 100%;
}
.landing{
/*
    max-width:100%;
    height:auto;
    max-height:100%; */
    height: 100vh;
    width: 100%;
    background-image: url("http://cdnsecakmi.kaltura.com/p/537811/sp/53781100/thumbnail/entry_id/0_yazr5vgv/version/100041/width/754/height/424");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}
