header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
nav {
  color: #fff;
  background-color: #ee6e73;
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.navbar-fixed {
  position: relative;
  height: 30px;
  z-index: 997;
}

.navbar-fixed nav {
  position: fixed;

}

@media only screen and (min-width: 601px) {
  nav.nav-extended .nav-wrapper {
    min-height: 30px;
  }
  nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 30px;
    line-height: 30px;
  }
  .navbar-fixed {
    height: 30px;
  }
}
